.details {
  --main-green-color: #cae870;
  --main-blue-color: #17abc9;
  --main-brown-color: #e87b37;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.badge {
  border: 1px solid var(--main-blue-color);
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--main-green-color);
}

.details {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.details-figure {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.details-image {
  width: 20rem;
  border-radius: 2%;
  margin-bottom: 0.5rem;
  box-shadow: -6px 6px 28px -11px rgba(0, 0, 0, 0.75);
}

.details-caption {
  font-size: 1.5rem;
}

.details-main-block {
  display: flex;
  gap: 1rem;
}

.details-main-block span {
  padding: 0.5rem;
  border: 1px dotted white;
  border-radius: 0.25rem;
}

.details-species {
  background-color: var(--main-blue-color);
}

.details-gender {
  background-color: var(--main-green-color);
}
.details-status {
  background-color: var(--main-brown-color);
}

.details-secondary-block {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.details-created {
  color: var(--main-blue-color);
}
.details-origin {
  color: var(--main-green-color);
}
.details-location {
  color: var(--main-brown-color);
}

.details-episodes-block {
  display: flex;
  gap: 0.5rem;
}

.details-episodes-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.details-episodes-list-item {
  padding: 0.2rem;
  background-color: var(--main-green-color);
  color: #17abc9;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  width: 1.25rem;
  text-align: center;
}

.backBtn {
  width: 6rem;
  padding: 1rem;
  border: none;
  background-color: var(--main-blue-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 1rem;
}

.backBtn:hover {
  background-color: var(--main-green-color);
  cursor: pointer;
}

.backBtn::before {
  content: '<< ';
}
