.root {
  padding: 0 3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --footerHeight: 20rem;
}

.content {
  padding-top: 2%;
  min-height: calc(100vh - 50px);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlet {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
