.api-page {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.api-heading {
  width: 100%;
  text-align: center;
}

.api-image {
  max-width: 15%;
  max-height: 100%;
}

.found {
  margin-bottom: 1rem;
}
